openapi: 3.2.0
info:
  title: NowCerts Tasks API
  description: The NowCerts API is the REST interface to the NowCerts insurance agency management system (now branded Momentum AMP; the API is still served from api.nowcerts.com).
  version: 2.1.5
  contact:
    name: NowCerts / Momentum AMP
    url: https://www.nowcerts.com
  x-modeled: Endpoint paths and methods are confirmed real from api.nowcerts.com/Help. Schemas are modeled from documented behavior and typical AMS fields, not copied from an official machine-readable spec (NowCerts does not publish OpenAPI).
servers:
- url: https://api.nowcerts.com/api
  description: NowCerts production API
security:
- bearerAuth: []
tags:
- name: Tasks
  description: Tasks, task work groups, and to-do workflow.
paths:
  /TasksWork/InsertUpdate:
    post:
      operationId: insertUpdateTask
      tags:
      - Tasks
      summary: Insert or update a task work group
      description: Create or update a task and its work group. Schema modeled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: The created or updated task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /TasksList:
    get:
      operationId: listTasks
      tags:
      - Tasks
      summary: List tasks
      description: Returns task records, with OData-style query options.
      parameters:
      - $ref: '#/components/parameters/ODataFilter'
      - $ref: '#/components/parameters/ODataTop'
      - $ref: '#/components/parameters/ODataSkip'
      - $ref: '#/components/parameters/ODataOrderBy'
      responses:
        '200':
          description: A list of tasks.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /TasksWorkGroupList:
    get:
      operationId: listTaskWorkGroups
      tags:
      - Tasks
      summary: List task work groups
      description: Returns task work group records.
      responses:
        '200':
          description: A list of task work groups.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ToDoList:
    get:
      operationId: listToDo
      tags:
      - Tasks
      summary: List to-do items
      description: Returns to-do items for the agency's workflow.
      responses:
        '200':
          description: A list of to-do items.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Task:
      type: object
      description: A task / to-do work item. Modeled.
      properties:
        databaseId:
          type: string
          format: uuid
        subject:
          type: string
        description:
          type: string
        dueDate:
          type: string
          format: date-time
        assignedToAgentId:
          type: string
          format: uuid
        completed:
          type: boolean
      additionalProperties: true
    Error:
      type: object
      properties:
        message:
          type: string
        error:
          type: string
      additionalProperties: true
  responses:
    Unauthorized:
      description: Missing or invalid bearer token, or the user lacks the API Integration role.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    ODataFilter:
      name: $filter
      in: query
      description: OData-style filter expression.
      schema:
        type: string
    ODataTop:
      name: $top
      in: query
      description: Maximum number of records to return.
      schema:
        type: integer
    ODataOrderBy:
      name: $orderby
      in: query
      description: OData-style ordering expression.
      schema:
        type: string
    ODataSkip:
      name: $skip
      in: query
      description: Number of records to skip.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token obtained from https://api.nowcerts.com/token via the OAuth2 password grant. The user must have the "API Integration" agent role.
